@media (max-width: 1800px) {
    .mounting-middle {
        width: 40vw;
        height: 40vw;
        top: 24vw;
        right: -15vw;
    }


}

@media (max-width: 1600px) {
    .section-about {
        background: #ffe347;
    }

    .know-block {
        padding: 34px 32px;
        background: none;
        border: 2px dashed #000;
        border-radius: 10px;
    }

}

@media (max-width: 1400px) {
    .owl-carousel .owl-nav button.owl-next {
        right: 1em;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 1em;
    }

    .slide-text h2 {
        font-size: 4.55vw;
        line-height: normal;
    }

    .slide-text h3 {
        font-size: 3vw;
        line-height: normal;
    }

    .slide-text p {
        font-size: 1.72vw;
        line-height: normal;
    }

    .slider {
        height: 60.55vw;
    }

    .slide-text h4 {
        font-size: 3vw;
        line-height: normal;
    }

    .slide-text h3 {
        font-size: 2.87vw;
        line-height: normal;
    }

    .slide-text h5 {
        font-size: 1.73vw;
        line-height: normal;
    }

    .btn-slide {
        font-size: 3.15vw;
        line-height: normal;
    }

    .mounting-middle {
        top: 35vw;
    }

    .know-block-dog {
        padding: 35px 50px 70px 35px;
        background-size: 94%;
    }

    .section-services {
        background-size: 37vw;
    }

}

@media (max-width: 1199px) {
    .mounting-middle {
        display: none;
    }

    .mounting-top .title {
        font-size: 5vw;
        line-height: normal;
    }

    .section-recall::before {
        width: 100%;
        border-radius: 0;
    }

    .know-block-dog {
        padding: 50px 0;
        background: rgba(255, 255, 255, .8);
    }

    .section-services {
        background: url(../images/services-bg.png) no-repeat right -98px bottom 16px;
        background-size: 62%;
    }

    .price-title {
        font-size: 2.5vw;
        line-height: normal;
    }

    .price-grid .col-12 {
        margin-bottom: 30px;
    }

    .btn-zapchast {
        margin-bottom: 50px;
    }

    .section-about p {
        padding-right: 0;
    }
}

@media (max-width: 991px) {

    header .row .col-12:nth-child(1) {
        order: 1;
    }

    header .row .col-12:nth-child(2) {
        order: 3;
    }

    header .row .col-12:nth-child(3) {
        order: 4;
    }

    header .row .col-12:nth-child(4) {
        order: 2;
    }

    .popover-custom {
        display: none;
    }

    header {
        height: auto;
        padding: 5px 0 10px;
    }

    .address {
        justify-content: flex-start;
    }

    .mounting-title {
        font-size: 2.5vw;
        line-height: normal;
        margin-top: 15px;
    }

    .section-recall {
        height: auto;
    }

    .form-recall .title {
        font-size: 4.55vw;
        line-height: normal;
        margin-bottom: 15px;
    }

    .object-title {
        font-size: 14px;
        line-height: normal;
    }

    .modal .form-static {
        border-radius: 20px;
        background: #191b29;
        padding: 50px 20px 20px;
    }

    .modal-header .close {
        top: 5px;
        right: 5px;
    }

    .form-modal-header.modal-header .close {
        top: 10px;
        right: 10px;
    }

    .form .title {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 30px;
    }


}

@media (max-width: 767px) {
    .section-work .title {
        font-size: 6.15vw;
        line-height: normal;
    }

    .work-item h3 {
        line-height: normal;
    }

    .mounting-title {
        font-size: 22px;
    }

    .price-title {
        font-size: 22px;
    }

    .soc-footer, .made-by {
        height: auto;
        padding: 30px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        padding-bottom: 30px;
    }


}

@media (max-width: 575px) {

    header .row .col-12 {
        text-align: center;
    }

    .btn-order {
        margin: 25px auto 10px;
    }

    .address {
        justify-content: center;
    }

    .phones {
        justify-content: center;
        padding: 20px 0 10px;
        flex-direction: column;
    }

    .mask-slider {
        display: none;
    }

    .slide-text {
        margin-left: 0;
        padding: 0 12%;
    }

    .section-work .title {
        font-size: 32px;
    }

    .work-item h3 {
        font-size: 26px;
    }

    .work-item {
        flex-wrap: wrap;
    }

    .work-img {
        margin: 0 auto 10px;
    }

    .work-text {
        padding-left: 0;
        width: 100%;
    }

    .mounting-title {
        font-size: 25px;
    }

    .form-recall .title {
        font-size: 30px;
    }

    .sertificat-block {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .sertificat-block a + a {
        margin-left: 0;
        margin-top: 30px;
    }

    .btn-zapchast {
        height: auto;
    }

    .section-price h2 {
        font-size: 38px;
        line-height: normal;
    }

    .slide-text h2 {
        font-size: 26px;
    }

    .slide-text h3 {
        font-size: 16px;
    }

    .slide-text p {
        font-size: 10px;
    }

    .btn-slide {
        font-size: 20px;
        height: auto;
        padding: 5px;
        margin: 0 0 5px;
    }

    .slide-text h5 {
        font-size: 10px;
    }


}